@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');

*{
    margin: 0;
    padding: 0;
  }
body{
  font-family: "Roboto", sans-serif; 
}
  .main-bg{
    background: linear-gradient(to right , #4f3d30 , #0d0d0d);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .main-bg img{
    width: 415px;
    animation-delay: 1s;
  }
  .main-bg .main-details{
    width: 40%;
  }
  .main-bg .main-details h3{
    text-transform: capitalize;
    font-size: 35px;
    color: #fff ;
    margin-bottom: 5px;
    animation-delay: 2s;
  }
  .main-bg .main-details h2{
    text-transform: capitalize;
    font-size: 45px;
    color: #fff;
    animation-delay: 3s;
  }
.main-bg .main-details span{
  color: #bfa796;
  font-family: "Kalam", cursive;
}
.main-bg .main-details p{
  color: #fff;
  letter-spacing: .5px;
  font-size: 18px;
  margin-top: 10px;
  animation-delay: 4s;
}
.main-bg .main-details .btn{
  margin-top: 30px;
  animation-delay: 5s;
}
.main-bg .main-details .btn a.hire{
  text-decoration: none;
  font-size: 18px;
  color: black;
  background: #bfa796;
  padding: 10px;
  letter-spacing: .5px;
  border-radius:20px;
}
.main-bg .main-details .btn a.project{
  margin-left: 15px;
  text-decoration: none;
  color: #bfa796;
  border: 1px solid #bfa796;
  padding: 10px;
  border-radius: 20px;
  letter-spacing: .5px;
}
.social{
  margin-top: 30px;
  color: #bfa796;
}
.social .fa-square-instagram , .social .fa-linkedin , .social .fa-square-whatsapp{
  font-size: 35px;
  margin: 0 5px;
  transition: .5s ease;
}
.fa-linkedin:hover , .fa-square-instagram:hover , .fa-square-whatsapp:hover{
  transform: scale(1.3);
}
.social a{
  color: #bfa796;
}